@media (prefers-color-scheme: dark) {

:root {
  --bg: #000;
  --bggrey: #111;
  --mggrey: #333;
  --hggrey: #555;

  --bggreen: #031;
  --bgred: #ab0a0a;

  --text: #fff;
  --fgblue: #80ffff;
}

.toolbox.published .toolbar.secondary {
  background-color: color-mix(in oklab, var(--bggreen) 100%, #fff 15%);
}

.tiptap pre {
  background: #502d8b;
}
.tiptap code {
  background: #502d8b;
}
.tiptap .ProseMirror-selectednode [data-resize-wrapper] {
  outline: 1px solid #fff8;
}
.tiptap [data-resize-handle] {
  background-color: #fff8;
  border-color: #fffc;
}

.bubble-menu {
  background-color: #772944;
  border-color: #d84a7c;
}

}
